<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteCaracteresFrasesTest">
    <test name="PruebaCaracteresFrases">
        <classes>
            <class name="CaracteresFrasesTest">
                <methods>
                    <include name="fraseMenor" />
                    <include name="fraseIgual" />
                    <include name="fraseNula" />
                    <include name="fraseMayor" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
